In [13]:
import pandas as pd

df = pd.read_excel('cis_mar24.xlsx', sheet_name='Counts', skiprows=1)

new_columns = [
    'question_answer', 'total',
    'male','female',
    # 
    'age-16_24', 'age-25_34', 'age-35_44', 'age-45_54', 'age-55_74', 'age-75+', 'age-net_16_34', 'age-net_35_54', 'age-net_55+',
    # 
    'social_grade-ab', 'social_grade-c1', 'social_grade-c2', 'social_grade-de',
    # 
    'region-north_east', 'region-north_west', 'region-yorkshire_and_humber', 'region-east_midlands', 'region-west_midlands', 'region-east', 'region-london', 
    'region-south_east', 'region-south_west', 'region-wales', 'region-northern_ireland', 'region-net_england',
    # 
    'eth-white', 'eth-minority',
    # 
    'urban', 'rural',
    # 
    'marital-single', 'marital-married', 'marital-widowed_divorced_separated',
    # 
    'household-1', 'household-2', 'household-3', 'household-4+',
    # 
    'education-gcse_equ', 'education-a_level_equ', 'education-degree_master_phd', 'education-none',
    # 
    'employment-working', 'employment-not_working',
    # income
    'income-under_5000', 'income-5000_9999', 'income-10000_14999', 'income-15000_19999', 'income-20000_24999', 'income-25000_34999', 'income-35000_44999', 
    'income-45000_59999', 'income-60000_99999', 'income-100000+', 'income-prefer_not_to_say', 'income-net_under_19999', 'income-net_20000_34999', 
    'income-net_35000_59999', 'income-net_60000+',
    # 
    'parent-yes', 'parent-no',
    # 
    'living-alone', 'living-spouse_partner', 'living-friends_housemates', 'living-parents', 'living-siblings', 'living-children_over_18', 
    'living-children_under_18', 'living-other_adult_family', 'living-grandchildren', 'living-prefer_not_to_say', 'living-none_of_these',
    #
    'main_shopper-yes', 'main_shopper-no',
    # 
    'disability-yes_lot', 'disability-yes_little', 'disability-no', 'disability-net_yes',
    # 
    'mental_health-yes', 'mental_health-no',
    # 
    'food_availability-worried', 'food_availability-not_worried',
    # 
    'food_affordability-worried', 'food_affordability-not_worried',
    # 
    'skipped_cut_meals_financal-yes', 'skipped_cut_meals_financal-no',
    # 
    'know_fsa-yes', 'know_fsa-no', 'know_fsa-net_lot_little',
    # 
    'IMD-1_3', 'IMD-4_7', 'IMD-8_10',
    # 
    'eth-en_wal_sct_ni_br', 'eth-irish', 'eth-gypsy_traveller', 'eth-other_white', 'eth-white_black_caribbean', 'eth-white_black_african', 
    'eth-white_asian', 'eth-other_mixed', 'eth-indian', 'eth-pakistani', 'eth-bangladeshi', 'eth-chinese', 'eth-other_asian', 'eth-african',
    'eth-caribbean', 'eth-other_black', 'eth-arab', 'eth-other', 'eth-prefer_not_to_say'
]

df.columns = new_columns

df.head()

,question_answer,total,male,female,age-16_24,age-25_34,age-35_44,age-45_54,age-55_74,age-75+,...,eth-pakistani,eth-bangladeshi,eth-chinese,eth-other_asian,eth-african,eth-caribbean,eth-other_black,eth-arab,eth-other,eth-prefer_not_to_say
0,"Q2m. To what extent, if at all, are you worrie...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Unweighted base,2015,993,1022,220,312,329,307,684,163,...,12,5,11,10,37,4,4,3,11,35
2,Base: All,2015,986.75,1028.25,259.93,326.37,343.84,312.8,636.43,135.62,...,14.05,5.04,10.78,10.59,39.6,3.88,4.45,3.49,11.66,36.62
3,Very worried,122.02,64.55,57.47,24.09,33.4,29.36,14.85,18.64,1.69,...,1.05,-,-,-,15.24,-,1.15,0.99,-,5.46
4,Somewhat worried,277.44,122.59,154.85,28.87,50.55,65.58,57.49,71.7,3.25,...,3.46,-,1.9,2.97,10.39,0.88,-,1.38,3.03,7.35